# Token dari @BotFather di Telegram
8719858394:AAF2WJsONy3zjV4aNP9zrYfv9SctFbvky6c

# API Key dari xAI (Grok API) - Dapatkan dari https://console.x.ai/
XAI_API_KEY=xai-f489Rf4jtAmiIk8MJtQghDBn1fAAWnl6bNN2vjNBiPFcPnN67mlCX7LrdpdC7tqo9blgNRetkwslYiwp
